html{
  background-color: #0abcf9;
  background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

.CreditBox{
  background-color: white;
  width: 35%;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5%;
  height: 60%;
}

#year{
  margin-left: -20%;
}

.form-bar{
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
}

label{
  font-size: 100%;
  white-space: nowrap;
 
}

.btn{
  width: 100%;
  margin-top: 5%;
}

#PaymentForm {
  background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

