html{
  background-color: lightblue;
}

body{
  background-color: lightblue;
}

.CreditBox{
  background-color: white;
  width: 25%;
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-bar{
  width: 90%;
  margin-left: 5%;
  margin-top: 40%;
}

label{
  font-size: 60%;
 white-space: nowrap;
 
}

.btn{
  width: 100%;
  margin-top: 5%;
}




